ion-title{
    color: white;
}

.headerbg{
    
    background-color: white;
}

.demo{
    border-radius: 0 30px 0 0px !important;
    background-color: white;
    
    border: 3px solid white;
}

.section-bg-color{
    
    background-color: red ;
   
}
.espaciobg{
    
    
    border-radius: 0 30px 0 0px !important;
    background-color: var(--blanco);
    
}

header {
    
    width: 100%;
    z-index: 10;
    transition: all 0.2s linear;
    //position: absolute;
    z-index: 100;
   
}

nav{
    
    border-radius: 0 0 0 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 9vh;
    height: 4rem;
    transition: all 0.2s linear;
    padding: 30px 10% 30px;
    background-color: red;
    
   
}


.segment_div{
    
    
        display: flex;
        margin-top: 20px;
        flex-direction: row !important;
        align-items: center;
        gap: 5rem;
        border-bottom: 1px solid lightgray;
        justify-content: space-around;
        ion-label {
            color: black;
            padding-bottom: 10px;
            width: 100%;
            text-align: center;
        }
        .active{
            border-bottom: 1px solid red;
        }
}
.main_content_div{
    width: 100%;
    .centent_div{
        padding: 20px;

        ion-label {
            display: block;
        }
    }

    .card_div{
        display: flex;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.50);
        border-radius: 10px;
        margin-bottom: 20px;
        
        
        

        // .line_div{
        //     height: 1px;
        //     width: 100%;
        //     background: lightgray;
        //     margin-top: 10px;
        //     margin-bottom: 10px;
            
        // }
        .order_id{
           
            width: 100%;
            font-size: .6rem;
            
        }
        .resto_detail{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            background:radial-gradient(red, rgb(133, 9, 9));
            border-radius: 0 10px 10px 0 !important;
            vertical-align:middle;
            justify-content: center;
            width: 50%;
            height: auto;
            
            
            .persona{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
            }
        
            .back_image{
                
                margin-left:10px; 
                height: 100px;
                width: 100px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 100%;
                vertical-align: middle;
                
            }

            .res_name{
              font-weight: 600;  
              font-size: 14px;
              color: white;
              text-align: center;
              margin-top: 10px;
              width: 120px;
            } 

            .payment_status{
                margin-top: 20px;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                background: var(--ion-color-primary);
                color: white;
                font-weight: 600;
                padding: 8px 12px;
                border-bottom-right-radius: 10px;
                height: auto;
                
            }
            
            .payment_status.delivered {
                background-color: green; /* Verde para 'delivered' */
              }
              
              .payment_status.ongoing {
                background-color: yellow; /* Amarillo para 'ongoing' */
                color: black;
            }
              
              .payment_status.canceled {
                background-color: red; /* Rojo para 'canceled' */
              }
              

            
        }

        .order_detail{
            position: relative;
            width: 100%;
            padding: 20px;

            .head_gray{
                color: black;
                font-size: 13px;
                margin-top: 10px;
                font-weight: bold;
                
            }
            .small_lbl{
                font-size: 14px;
                font-weight: bold;
                color: rgb(215, 4, 4);
            }

                .border_bottom{
                border-bottom: 1px solid lightgray;
                padding: 5px 0px;
                font-size: 15px;
                font-weight: bold;
            }
            .subNames{
                border-bottom: 1px dashed lightgray;
                padding-bottom: 5px;
                .food_title{
                    font-size: 15px;
                    
                }
                .flex_titles{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .sub_name{
                        margin: 0px;
                        color: black;
                        font-size: 12px;
                    }
                    border: 1px solid black;
                }
            }

            .prize{
                border: 1px solid black;
                position: absolute;
                right: 35px;
                font-weight: 600 !important;
            }

           
        }

        

        

        

    
   

    }

    

}